@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   Q35 Umdlebe Road, Umlazi,4066<br />
    <abbr title="Phone">P:</abbr>
    0848356630
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@eTDKM.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">thandekacc@gmail.com</a>
</address>